.artist {
  width: 100%;
  height: 100vh;
  background-color: #f7e9d6;
  background-image: url('/client/src/assets/images/backintro.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40em;
}
.artist ul {
  display: flex;
  flex-direction: column;
}
.artist li {
  display: flex;
  flex-direction: row;
}
.artist .cl-rootBox {
  margin-top: 22em;
}
.sidebar-footer {
  color: red;
}
