@import 'https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap';
@font-face {
  font-family: giselle;
  font-weight: 400;
  src: url('../assets/fonts/FHGiselle-Regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: giselle;
  font-weight: 600;
  src: url('../assets/fonts//FHGiselle-Medium.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: giselle;
  font-weight: 800;
  src: url('../assets/fonts/FHGiselle-Bold.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: gilroy;
  font-weight: 600;
  src: url('../assets/fonts/Gilroy-Medium.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: gilroy;
  font-weight: 800;
  src: url('https://www.display.care/static/fonts/Gilroy-Bold.woff2') format('woff2');
  font-display: swap;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-reverse {
  to {
    transform: rotate(-360deg);
  }
}
.cl-card {
  display: flex;
  width: 55em;
  min-width: 5em;
  height: 100%;
  padding-top: 9em;
  margin: 0;
  box-shadow: none;
}
.cl-card .cl-header {
  font: 0.9rem;
  text-align: center;
}
.cl-card .cl-headerTitle {
  font-family: 'Josefin Sans', giselle, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', geneva, verdana, sans-serif;
  font-size: 2.5rem;
}
.cl-card .cl-headerSubtitle {
  font-family: 'Josefin Sans', giselle, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', geneva, verdana, sans-serif;
  font-size: 1.5rem;
}
.cl-card .cl-formButtonPrimary {
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  font-family: 'Josefin Sans', giselle, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', geneva, verdana, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #3d3535;
  cursor: pointer;
  background-color: #f7e9d6;
  border: none;
  border-radius: 5px;
}
.cl-card .cl-footer {
  font-size: 1.5rem;
}
.cl-card .cl-footerActionLink {
  font-family: 'Josefin Sans', giselle, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', geneva, verdana, sans-serif;
  font-size: 1rem;
  color: #db856a;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.4s ease-out;
}
.cl-card .cl-footerActionLink:hover {
  font-family: 'Josefin Sans', giselle, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', geneva, verdana, sans-serif;
  font-size: 1rem;
  color: #524b4b;
  text-decoration: none;
  cursor: pointer;
}
.cl-card .cl-footerActionText {
  font-family: 'Josefin Sans', giselle, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', geneva, verdana, sans-serif;
  font-size: 1rem;
  color: #3d3535;
}
.cl-card .cl-logoBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.cl-card .cl-internal-b3fm6y {
  display: none;
}
