@import 'https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap';
@font-face {
  font-family: giselle;
  font-weight: 400;
  src: url('../assets/fonts/FHGiselle-Regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: giselle;
  font-weight: 600;
  src: url('../assets/fonts//FHGiselle-Medium.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: giselle;
  font-weight: 800;
  src: url('../assets/fonts/FHGiselle-Bold.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: gilroy;
  font-weight: 600;
  src: url('../assets/fonts/Gilroy-Medium.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: gilroy;
  font-weight: 800;
  src: url('https://www.display.care/static/fonts/Gilroy-Bold.woff2') format('woff2');
  font-display: swap;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-reverse {
  to {
    transform: rotate(-360deg);
  }
}
